body {
    background-color: rgb(225, 151, 227);
    color: rgb(77, 62, 79);
    font-family: Arial;
    margin: 5px;
}

main {
    /* background-color: rgb(103, 104, 187); */
    color: rgb(77, 62, 79);
    font-family: Arial;
    font-size: 12;
    padding: 10px;
    margin: 10px 20px 56px; 
}

header {
    background-color: rgb(187, 103, 179);
    color: rgb(77, 62, 79);
    font-family: Arial;
    margin: 5px;
    padding: 10px; 
}

footer {
    background-color: rgb(187, 103, 179);
    color: rgb(77, 62, 79);
    font-family: Arial;
    margin: 5px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 5px;
    left: 5px;
}

a {
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: rgb(57, 35, 137);
}

a:visited {
    color: rgb(73, 44, 112);
}

a:hover {
    color: rgb(118, 56, 131);
    text-decoration: underline;
    text-shadow: 2px 4px 8px rgb(79, 41, 106);
    background-color: rgb(196, 154, 206);
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 8px solid rgb(81, 83, 151);
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}