body {
    background-color: rgb(225, 151, 227);
    color: rgb(77, 62, 79);
    font-family: Arial;
    margin: 5px;
}

main {
    background-color: rgb(103, 104, 187);
    color: rgb(77, 62, 79);
    font-family: Arial;
    font-size: 12;
    margin: 10px;
    padding: 10px; 
}

header {
    background-color: rgb(187, 103, 179);
    color: rgb(77, 62, 79);
    font-family: Arial;
    margin: 5px;
    padding: 10px; 
}

footer {
    background-color: rgb(187, 103, 179);
    color: rgb(77, 62, 79);
    font-family: Arial;
    margin: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(57, 35, 137);
}

a:visited {
    color: rgb(73, 44, 112);
}

a:hover {
    color: rgb(118, 56, 131);
    text-decoration: underline;
    text-shadow: 2px 4px 8px rgb(79, 41, 106);
    background-color: rgb(196, 154, 206);
}

a:active {
    color: black;
    opacity: 0.3;
}